@media only screen and (max-width: 1366px){
    .header_main_container{
      margin-top: 5vh;
    }
}
@media only screen and (max-width: 1023px){
    body{
        font-size: 17px;
    }
    nav{
        margin-left: 0px;
    }
    .logo,
    .main-nav{
        display: none;
    }
    .resp-nav-container{
        display: block !important;
    }
   .container{
       margin-left: 7%;
       margin-right: 7%;
   }

   .grid_container_269,
   .grid_container_278,
   .grid_container_356{
        grid-template-columns: repeat(2, 1fr);
    }
    .header-text_box h1{
        padding-left: 15px;
        padding-right: 15px;
        font: bold normal normal 300%/86px Montserrat;
      
    }



    .header_main_container{
      
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media only screen and (max-width: 864px){
    .about_section_text_container{
        margin-left: 25px;
        margin-top: 10px;
        margin-right: 25px;
    }
 }

@media only screen and (max-width: 730px){

    .grid_container_356{
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-container-header {
          grid-template-areas:
          'menu menu menu right  right right '
          'menu menu menu left  left left'
          'footer footer footer footer footer footer';
      }
      .mini_grid_container{
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        margin-bottom: 17px;
     }      
}
@media only screen and (max-width: 600px){

    .grid-container-header {
          grid-template-areas:
          'menu menu menu right  right right '
          'menu menu menu left  left left'
          'footer footer footer footer footer footer';
      }
      .mini_grid_container{
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        margin-bottom: 17px;
     }      
}
 @media only screen and (max-width: 520px){

    .grid_container_269,
    .grid_container_278
   {
        grid-template-columns: repeat(1, 1fr);
    }

    .header-text_box h1{
        font-size: 22px;
        line-height: 30px !important;
    }
 }

 @media only screen and (max-width: 505px){

      .mini_grid_container{
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
      
     }      
}

 @media only screen and (max-width: 465px){

    .grid_container-w-225{
        height: 250px;  
        overflow-y: scroll;
    }
 }
 

 @media only screen and (max-width: 413px){

    .mini_grid_container{
      grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    
   }      
}