:root{
    --white: white;
    --brown: #AF7E5A;
    --gray: #555555;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

/* ------------------ GENERAL STYLES---------------------- */
input,
button{
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

.row{
    display: flex;
    justify-content: space-between;
}

.column{
    display: flex;
    flex-direction: column;
}

section{
    margin-top: 2%;
}
.section_header{
    font-size: 250%;
    color: var(--brown);
    text-align: center;
    font: normal normal bold 250%/61px Montserrat;
    letter-spacing: 0px;
    opacity: 1;
}
.container {
    display: block;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 52px;
    padding-bottom: 20px;
}

/* --------------------DISPLAY GRID CONTAINER STYLES -------------- */
/* -------------- LAST NUMBERS SHOW WIDTH OF ELEMENTS--------------- */
.grid_container_356{
    align-items: stretch;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); */
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.card_container_356{
    position: relative;
    min-width: 200px;
    max-width: 456px;
    background: var(--white) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 9px #0000003B;
    border-radius: 6px;
    padding-bottom: 20px;
}

.card_container_356 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 51px;
    width: 92px;
    height: 92px;
}
.card_body{
    margin-top: 30px;
}
.card_body h3{
    color: var(--brown);
    font-size: 25px;
    text-align: left;
    font: normal normal bold 25px/30px Montserrat;
    letter-spacing: 0px;
    opacity: 1;
    margin-left: 25px;
}
.card_body p{
    font-size: 100%;
    font: normal normal 300 20px/26px Montserrat;
    letter-spacing: 0px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 8px;
}

.grid_container_278{
    align-items: stretch;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); */
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
}
.card_container_278{
    position: relative;
    min-width: 200px;
    max-width: 456px;
    background: var(--white) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #0000003B;
    border-radius: 6px;
    padding-bottom: 20px;
   
}
.card_container_278 img{
    height: 290px;
    width: 100%;
    background: transparent url('img/WhatsApp Image 2022-02-07 at 15.24.57.png') 0% 0% no-repeat padding-box;
    border-radius: 6px 6px 0px 0px;
    opacity: 1;
}

.grid_card_278_body h4{
    font: normal normal normal 100%/24px Montserrat;
    letter-spacing: 0px;
    color: #2C2C2C;
    opacity: 1;
    text-align: center;
    margin-top: 24px;
}
.grid_card_278_body p{
    text-align: center;
    font: normal normal bold 15px/19px Montserrat;
    letter-spacing: 0px;
    color: var(--brown);
    opacity: 1;
    margin-top: 2px;
}


.grid_container_269{
    align-items: stretch;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 28px;
}

.card_container_269{
    position: relative;
    min-width: 200px;
    max-width: 456px;
    background: var(--white) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #0000003B;
    border-radius: 6px;
    height: 219px;
   
}
.card_container_269 img{
    width: 100%;
    height: 100%;
    border-radius: 9px;
}
/* -----------------------------END OF GENERAL STYLES --------------------- */
/* --------------------------------------------------------------------------------------- */
/* ---------------------------------HEADER STYLES-------------------------- */
header{
    display: block;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('img/home_background_1.jpeg');
}
.header_background{
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}

nav{
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    margin-top: 39px;
    width: 940px;
}
.main-nav li{
    display: inline-block;
    font-size: 95%;
   
}

.main-nav li a{
    font-size: 95%;
    /* font: normal normal normal 95%/23px Montserrat; */
    letter-spacing: 0px;
    color: var(--white);
    font-weight: normal;
    opacity: 1;
}

.header-text_box{
    margin-top: 30vh;
}

.header-text_box h1{
    text-align: center;
    font: normal normal bold 350%/86px Montserrat;
    font-size: 350%;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-shadow: 2px 3px 4px #00000029;
    opacity: 1;
}

.header-text_box button{
    display: block;
    background: none;
    outline: none;
    border: none;
    color: var(--white);
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
}
/* ------------------------------------------------------------------------ */
/* ----------------------------SERVICES PAGE HEADER--------------------- */
#services_header{
    background-image: url('img/services_background.jpeg');
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header_main_container{
    width: auto;
    margin-left: 16.9%;
    margin-right: 16.9%;
    margin-top: 15vh;
}
.header_title h2{
    text-align: left;
    font-stretch: medium;
    font-weight: normal;
    font-size: 150%;
    font-family: 'Montserrat', sans-serif;
    line-height: 37px;
    letter-spacing: 0px;
    color: var(--white);
    opacity: 1;
}

.header_left_input{
    width: 100%;
    height: 32px;
    background: var(--white) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #534A4240;
    border-radius: 6px;
    opacity: 0.88;
    outline: none;
    text-align: left;
    font: italic normal 300 70%/13px Montserrat;
    letter-spacing: 0px;
    color: var(--gray);
    border: none;
    
    padding-left: 5px;
}

.header_grid_container{
    align-items: stretch;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(266px, 1fr));
    /* grid-template-columns: repeat(3, 1fr); */
    grid-gap: 20px;
    background-color: #000000;
    width: 63%;
}
.input_container_w_266{
    display: block;
    position: relative;
    min-width: 260px;
    height: 32px;
    margin-bottom: 18px;
    background-color: red;
}
/* -------------------------------------------------------------------------- */
/* -------------------------SECTION 1 STYLES ---------------------- */
/* ----------------------SERVICES SECTIONS ----------------------- */
#globus_image{
    height: 100px;
    margin-top: 45px;
}

#education_image{
    width: 85px;
    height: 100px;
    margin-top: 45px;
}


/* ------------------------------SECTION 2 STYLES --------------------- */
/* ---------------------------ABOUT SECTIONS ---------------------- */
.about_section_container{
    margin-top: 53px;
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('img/about_background_image.jpeg');
    
}

.about_section_background_shadow{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: transparent linear-gradient(89deg, #0F0F0FE8 0%, #45454579 71%, #80808000 100%) 0% 0% no-repeat padding-box;
    padding-top: 1px;
    padding-bottom: 30px;
}

.about_section_text_container{
    margin-left: 90px;
    margin-top: 80px;
}
.about_section_text_box{
    margin-bottom: 30px;
    max-width: 726px;
    font-size: 80%;
    color: var(--white);
    text-align: left;
    font: normal normal normal 80%/26px Montserrat;
    letter-spacing: 0px;
}


/* ------------------------------SECTION 4 STYLES --------------------- */
/* ---------------------------NEW SECTIONS ---------------------- */
.news_section_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    position: relative;
    height: 400px;
    gap: 20px;
    margin-top: 37px;
    overflow: hidden;
}


.news_card_container_left{
    display: flex;
    justify-content: flex-end;
    position: relative;
    max-width: 1200px;
    min-width: 7px;
    height: 264px;
    gap: 20px;
    margin-top: 65px;
    
}
.news_card_container_right{
    display: flex;
    justify-content: flex-start;
    position: relative;
    max-width: 1200px;
    min-width: 7px;
    height: 264px;
    gap: 20px;
    margin-top: 65px;
}
.news_card_mini_container{
    display: block;
    background: var(--white) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #0000003B;
    border-radius: 6px;
    opacity: 1;
    height: 264px;
    min-width: 299px;

}
.news_card_mini_container::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    min-width: 299px;
    max-width: 400px;
    background: #00000062 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
}
.news_card_mini_container img{
    width: 100%;
    border-radius: 6px 6px 0 0;
    height: 140px;
}
.news_card_mini_container h5{
    margin-top: -45px;
    font-size: 50%;
    width: 100px;
    color: white;
    margin-left: 15px;
}

.news_card_mini_container_body{
    margin-top: 27px;
    text-align: left;
    font: normal normal 300 15px/19px Montserrat;
    letter-spacing: 0px;
    color: #343434;
    opacity: 1;
    max-height: 98px;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
}
.news_card_big_container{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #0000003B;
    border-radius: 6px;
    opacity: 1;
    min-width: 251px;
    max-width: 600;
    height: 398px;
}
.news_card_container_middle{
    display: block;
    position: relative;
    min-width: 370px;
    max-width: 600;
    height: 398px;
}
.news_card_big_container_header{
    background: transparent linear-gradient(180deg, #D0CCC900 0%, #0F0801 100%) 0% 0% no-repeat padding-box;
    box-shadow: 5px 3px 6px #00000029;
    opacity: 0.8;
    height: 213px;
}
.news_card_big_container_header img{
    width: 100%;
    height: 100%;
    border-radius: 6px 6px 0 0;
}
.news_card_container_middle h5{
    margin-top: -68px;
    text-align: left;
    font: normal normal bold 100%/24px Montserrat;
    letter-spacing: 0px;
    color: var(--white);
    opacity: 0.85;
    width: 183px;
    margin-left: 19px;
}

.news_card_big_container_body{
    margin-top: 40px;
    padding-left: 22px;
    padding-right: 22px;
    text-align: left;
    font: normal normal 300 75%/20px Montserrat;
    letter-spacing: 0px;
    color: #343434;
    opacity: 1;
    max-height: 155px;
}
.slider_right_btn,
.slider_left_btn{
    display: block;
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid var(--white);
    color: var(--white);
    top: 85px;
    margin: 15px;
    cursor: pointer;
}

/* ----------------------------------FOOTER STYLES--------------------------- */
footer{
    margin-top: 100px;
}
.footer_main_container{
    display: block;
    background-image: url("../images/map.jpeg");
    min-height: 497px;
    width: 100%;
}
.copy_right{
    text-align: center;
    /* font: normal normal medium 16px/19px Montserrat; */
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-size: 16px;
    margin-bottom: 19px;
}
.footer_background_shadow{
    display: block;
    position: relative;
    top: 0;
    left: 0;
    background: #00000062 0 0% no-repeat padding-box;
    width: 100%;
    height: 100%;
}


.footer_information_box_container{
    display: flex;
    justify-content: flex-end;
    margin-right: 7%;
}

.footer_information_box_container h1{
    text-align: right;
    /* font: normal normal bold 40px/49px Montserrat; */
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 200%;
    font-weight: 700;
    margin-top: 70px;
}

.footer_information_box_container ul{
    display: block;
    max-width: 300px;
}

.footer_information_box_container ul li{
    text-align: right;
    /* font: normal normal 300 17/28px Montserrat; */
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
}
.footer_information_box_container ul li b{
    font-weight: 500;
}

.footer_information_box_container button{
    display: block;
    margin-left: auto;
    margin-top: 26px;
    background: var(--brown) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #FFFFFF74;
    border-radius: 30px;
    opacity: 1;
    width: 133px;
    height: 51px;
    border: none;
    outline: none;
    font-size: 85%;
    font-weight: bold;
    letter-spacing: 0px;
    color: #FFFFFF;
}


.footer_social_links{
    margin-top: 30px;
    display: flex;
    justify-content: end;
}
.footer_social_links a{
    margin-left: 21px;
    color: var(--white);
    opacity: 1;
}

.show_map_btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 51px;
    width: 193px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 8px 8px 0px 0px;
    opacity: 1;
    /* font: normal normal bold 17px/20px Montserrat; */
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-size: 85%;
    font-weight: bold;
    outline: none;
    border: none;
}